<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huruf</title>
    <link rel="stylesheet" href="/assets/CSS/Abc.css">
    <link rel="stylesheet" href="boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <section class="Abc-bg">
        <div class="navbar">
            <a href="../Home.html"><i class="bx bx-left-arrow-alt"></i></a>
            <h1>Abjad</h1>
        </div>
        <div class="Abc">
            <div class="Abc-container">
                <img src="/assets/Image/Abjad/A.png" alt="A" data-id="1">
                <img src="/assets/Image/Abjad/B.png" alt="B" data-id="2">
                <img class="c" src="/assets/Image/Abjad/C.png" alt="C" data-id="3">
                <img src="/assets/Image/Abjad/D.png" alt="D" data-id="4">
                <img src="/assets/Image/Abjad/E.png" alt="E" data-id="5">
                <img src="/assets/Image/Abjad/F.png" alt="F" data-id="6">
                <img src="/assets/Image/Abjad/G.png" alt="G" data-id="7">
                <img src="/assets/Image/Abjad/H.png" alt="H" data-id="8">
                <img src="/assets/Image/Abjad/I.png" alt="I" data-id="9">
                <img src="/assets/Image/Abjad/J.png" alt="J" data-id="10">
                <img src="/assets/Image/Abjad/K.png" alt="K" data-id="11">
                <img src="/assets/Image/Abjad/L.png" alt="L" data-id="12">
                <img src="/assets/Image/Abjad/M.png" alt="M" data-id="13">
                <img src="/assets/Image/Abjad/N.png" alt="N" data-id="14">
                <img src="/assets/Image/Abjad/O.png" alt="O" data-id="15">
                <img class="p" src="/assets/Image/Abjad/P.png" alt="P" data-id="16" width="90px">
                <img src="/assets/Image/Abjad/Q.png" alt="Q" data-id="17">
                <img src="/assets/Image/Abjad/R.png" alt="R" data-id="18">
                <img src="/assets/Image/Abjad/S.png" alt="S" data-id="19">
                <img src="/assets/Image/Abjad/T.png" alt="T" data-id="20">
                <img src="/assets/Image/Abjad/U.png" alt="U" data-id="21" width="130px">
                <img src="/assets/Image/Abjad/V.png" alt="V" data-id="22">
                <img src="/assets/Image/Abjad/W.png" alt="W" data-id="23">
                <img src="/assets/Image/Abjad/X.png" alt="X" data-id="24">
                <img src="/assets/Image/Abjad/Y.png" alt="Y" data-id="25">
                <img src="/assets/Image/Abjad/Z.png" alt="Z" data-id="26">
            </div>
        </div>
        <audio src="../assets/audio/Huruf.mp3" muted id="audio"></audio>
        <audio src="../assets/audio/Abjad/Song-ABC.mp3" muted loop id="song"></audio>
    </section>
    <script type="module" src="../assets/JS/Abc.js"></script>
</body>
</html>
