<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angka</title>
    <link rel="stylesheet" href="/assets/CSS/Angka.css">
    <link rel="stylesheet" href="boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <section class="angka-bg">
        <div class="navbar">
            <a href="../Home.html"><i class="bx bx-left-arrow-alt"></i></a>
            <h1>Bentuk</h1>
        </div>
        <div class="angka">
            <div class="angka-container">
                <img src="../assets/Image/Angka/1.png" alt="" data-id="1">
                <img src="../assets/Image/Angka/2.png" alt="" data-id="2">
                <img src="../assets/Image/Angka/3.png" alt="" data-id="3">
                <img src="../assets/Image/Angka/4.png" alt="" data-id="4">
                <img src="../assets/Image/Angka/5.png" alt="" data-id="5">
                <img class="enam" src="../assets/Image/Angka/6.png" alt="" data-id="6">
                <img class="tujuh" src="../assets/Image/Angka/7.png" alt="" data-id="7">
                <img src="../assets/Image/Angka/8.png" alt="" data-id="8">
                <img src="../assets/Image/Angka/9.png" alt="" data-id="9">
                <img src="../assets/Image/Angka/10.png" alt="" data-id="10">
            </div>
        </div>
        <audio src="/assets/audio/Angka1.mp3" muted id="audio"></audio>
        <audio src="/assets/audio/Angka/Song1.mp3" muted loop id="song"></audio>
    </section>
    <script type="module" src="/assets/JS/Angka.js"></script>
</body>
</html>