<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bentuk</title>
    <link rel="stylesheet" href="../assets/CSS/Bentuk.css">
    <link rel="stylesheet" href="boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <section class="bentuk-bg">
        <div class="navbar">
            <a href="../Home.html"><i class="bx bx-left-arrow-alt"></i></a>
            <h1>Bentuk</h1>
        </div>
        <div class="bentuk">
            <div class="bentuk-container">
                <img class="circle" src="../assets/Image/Bentuk/circle.png" data-id="1">
                <img class="square" src="../assets/Image/Bentuk/square.png" data-id="2">
                <img src="../assets/Image/Bentuk/rectagle.png" data-id="3">
                <img src="../assets/Image/Bentuk/triangle.png" data-id="4">
                <img src="../assets/Image/Bentuk/trapesium.png" data-id="5">
                <img class="pentagon" src="../assets/Image/Bentuk/pentagon.png" data-id="6">
                <img src="../assets/Image/Bentuk/rectagle1.png" data-id="7">
                <img src="../assets/Image/Bentuk/circle1.png" data-id="8">
                <img class="kite" src="../assets/Image/Bentuk/kite.png" data-id="9">
                <img src="../assets/Image/Bentuk/parallelogram.png" data-id="10">
            </div>
            <audio src="../assets/audio/Bentuk1.mp3" muted id="audio"></audio>
            <audio src="../assets/audio/Bentuk/song.mp3" muted loop id="song"></audio>
        </div>
    </section>
    <script type="module" src="../assets/JS/Bentuk.js"></script>
</body>
</html>