<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesan</title>
    <link rel="icon" href="../assets/Image/logo-icon.png">
    <link rel="stylesheet" href="../assets/CSS/Isi-Komunitas.css">
</head>
<body>
    <section class="chat">
        <div class="chat-container">
            <div class="chat-header">
                <div class="chat-header-container">
                    <img id="komunitas-img" src="" alt="">
                    <div class="chat-header-text">
                        <h1 id="komunitas-head"></h1>
                        <p id="komunitas-paragraph"></p>
                    </div>
                </div>
                <p class="report">Laporkan komunitas</p>
            </div>
            <div class="chat-text-container">

            </div>
        </div>
    </section>
    <script type="module" src="../assets/JS/Isi-Komunitas.js"></script>
</body>
</html>