<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komunitas</title>
    <link rel="stylesheet" href="/assets/CSS/Komunitas.css">
    <link rel="stylesheet" href="boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="icon" href="../assets/Image/logo-icon.png">
</head>
<body>
    <section class="komunitas">
        <div class="header">
            <a href="../Home.html">
                <i class="bx bx-left-arrow-alt"></i>
            </a>
            <div class="header-container">
                <h1>Komunitas FunnyKids</h1>
            </div>
        </div>
        <div class="komunitas-flex">
            <div class="komunitas-container">
                <img src="/assets/Image/Komunitas/sayang-anak.png" alt="">
                <div class="komunitas-text">
                    <h1>Sayang Anak</h1>
                    <p>Setiap anak adalah bintang</p>
                </div>
                <div class="btn">
                    <img src="/assets/Image/Komunitas/ikuti.png" alt="">
                </div>
            </div>
            <div class="komunitas-container">
                <img src="/assets/Image/Komunitas/belajar-seru.png" alt="">
                <div class="komunitas-text">
                    <h1>Belajar Seru</h1>
                    <p>Temukan serunya belajar setiap hari</p>
                </div>
                <div class="btn">
                    <img src="/assets/Image/Komunitas/ikuti.png" alt="">
                </div>
            </div>
            <div class="komunitas-container">
                <img src="/assets/Image/Komunitas/orang-tua-genz.png" alt="">
                <div class="komunitas-text">
                    <h1>Orang Tua Gen Z</h1>
                    <p>Menciptakan masa depan yang cerah</p>
                </div>
                <div class="btn">
                    <img src="/assets/Image/Komunitas/ikuti.png" alt="">
                </div>
            </div>
        </div>
    </section>
</body>
</html>