<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Siapa Saya</title>
  <link rel="stylesheet" href="/assets/CSS/Login.css">
  <link rel="icon" href="../assets/Image/logo-icon.png">
</head>
<body>
  <!-- Siapa Saya -->
   <section class="siapa-saya">
      <h1>Siapa Saya</h1>
      <div class="contain-flex">
        <div class="contain-container">
          <p>Orang Tua</p>
          <img src="../assets/Image/Siapa-saya/oramg-tua.png" alt="">
        </div>
        <div class="contain-container">
          <p>Anak</p>
          <img src="../assets/Image/Siapa-saya/anak.png" alt="">
        </div>
        <div class="contain-container">
          <p>Guru</p>
          <img src="../assets/Image/Siapa-saya/Guru.png" alt="">
        </div>
      </div>
      <img src="../assets/Image/Siapa-saya/btn.png" alt="" class="btn">
   </section>
</body>
</html>